name: Java CI with Gradle

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4.2.2

    - name: Setup Java JDK 17
      uses: actions/setup-java@v4.7.0
      with:
        java-version: 17
        distribution: 'temurin'
        cache: 'gradle'

    - name: Build with Gradle
      run: |-
        chmod +x gradlew
        ./gradlew build

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4.6.1
      with:
        name: build-artifacts
        path: build/libs/